[submodule "DistributedMessagingApplication-Server"]
	path = DistributedMessagingApplication-Server
	url = https://github.com/erfan111/DistributedMessagingApplication-Server
	branch = master
[submodule "DistributedMessagingApplication-Client"]
	path = DistributedMessagingApplication-Client
	url = https://github.com/erfan111/DistributedMessagingApplication-Client
	branch = master
